<div class="box">
    <div class="heading">
        <img src="assets/logo/logo.png">
    </div>
    <div class="mentor-outer">
        <div class="mentors">
            <div class="mentors-head">
                <label><strong>Mentor's List</strong></label>
            </div>
            <div class="mentor-flex">
                <div class="mentors-list">
                    <p *ngIf="!mentors.length">No Mentors Found..</p>
                    <ul>
                        <li *ngFor="let mentor of mentors;let i =index" style="display: flex;">
                            <h5 style="width:200px">{{i+1}} )<span (click)="getTask(mentor._id)"
                                    style="cursor: pointer;"><u> {{mentor.name}} - {{mentor.mentorId}}</u></span> </h5>
                            <button class="addmentor-button add-task-btn" (click)="addMentorTask(mentor)">Add
                                Task</button>
                            <button class="addmentor-button add-task-btn" (click)="showwUdateMentor(mentor)">Update
                            </button>&nbsp;
                            <span class="delete" (click)="deleteMentor(mentor._id,i)"><abbr
                                    title="Remove mentor">x</abbr></span>
                        </li>
                    </ul>
                </div>
                <div *ngIf="mentorFormShow">
                    <div class="mentor-form" *ngIf="!editMentor">
                        <label><u>Add Mentor</u></label><br>
                        <label>Name : </label><input type="text" [(ngModel)]="name"><br>
                        <label>Contact : </label><input type="text" [(ngModel)]="contact"><br>
                        <label>Email : </label><input type="text" [(ngModel)]="email"><br>
                        <label>Subject : </label>
                        <select [(ngModel)]="subject">
                            <option value="Math">Math</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                        </select><br>
                        <button class="addmentor-button" (click)="addMentor()">Add Mentor</button>
                    </div>
                    <div class="mentor-form" *ngIf="editMentor">
                        <label><u>Update Mentor</u></label><br>
                        <label>Name : </label><input type="text" [(ngModel)]="updateMentorDetail.name"><br>
                        <label>Contact : </label><input type="text" [(ngModel)]="updateMentorDetail.contact"><br>
                        <label>Email : </label><input type="text" [(ngModel)]="updateMentorDetail.email"><br>
                        <label>Subject : </label>
                        <select [(ngModel)]="updateMentorDetail.subject">
                            <option value="Math">Math</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                        </select><br>
                        <button class="addmentor-button" (click)="updateMentor()">Update Mentor</button>
                    </div>
                </div>
            </div>
            <div class="round-button" *ngIf="!mentorFormShow || editMentor">
                <div class="round-button-circle" (click)="add()"><a class="round-button">+</a></div>
            </div>
        </div>
        <div class="task" *ngIf="selectedMentor || tasklist.length">
            <div *ngIf="selectedMentor && taskToggle">
                <div class="mentors-head">
                    <strong>Add Task To {{selectedMentor.name}}</strong>
                </div>
                <div *ngFor="let task of tasks;let i=index">
                    <div class="taskHeading">
                        <label>Subject : </label>
                        <textarea type="text" [(ngModel)]="task.topic"></textarea>
                    </div>
                    <div class="taskBody">
                        <label>Task : </label>
                        <textarea type="text" [(ngModel)]="task.detail"></textarea>
                    </div>
                    <div class="round-button" style="float: right;" *ngIf="tasks.length>1">
                        <div class="round-button-circle" (click)="deleteTask(i)"><a class="round-button"
                                style="color: red;">x</a></div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="round-button">
                    <div class="round-button-circle" (click)="addTask()"><a class="round-button">+</a></div>
                </div>
                <div style="text-align: center;">
                    <button class="addmentor-button" (click)="submitTask()">Submit</button>
                </div>
            </div>
            <div *ngIf="tasklist.length && !taskToggle">
                <div class="mentors-head">
                    <strong>Task List</strong>
                </div>
                <div *ngFor="let task of tasklist;let i=index">
                    <div class="taskHeading">
                        <label>Subject : </label>
                        <textarea type="text" [(ngModel)]="task.topic"></textarea>
                    </div>
                    <div class="taskBody">
                        <label>Task : </label>
                        <textarea type="text" [(ngModel)]="task.detail"></textarea>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>